Azure/Data Platform Overview.xlsx
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood/bin
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood/obj
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood.Core/obj
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood.Core/bin
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood.Data/obj
/ASP.NET Core/Sample Projects/OdeToFood/OdeToFood.Data/bin
