@page
@model OdeToFood.ListModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1> Restaurants </h1>
    
    <table class="table">
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
        }
    </table>


    <div>@Model.Message</div>
</body>
</html>
